@charset "utf-8"; /* 독립된 css문서의 1번째 줄에 반드시 필요 */

*{
    margin: 0;
    padding: 0;
    /* 크기계산에 대한 리셋 */
    box-sizing: border-box; /* 컨텐츠 영역 자동 계산 */

}


img{
    max-width: 100%; /* 이미지 최대값, 부모의 값을 넘지않는다 */
    }


    .blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    }

    button{
        border: none;
        background-color: transparent; /* 투명 */
        cursor: pointer;
        color: inherit;
        font-family: inherit;
        
    }
    
    a{
        color: inherit;
        text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: inherit;
    }
    
    /* 글자 굵게 나오는 태그 */
    h1, h2, h3, h4, h5, h6, b, strong {
        font-weight: inherit;
    }

    i, em {
        font-style: inherit;
    }


    ul, ol { list-style:none }
